


@desktop:   ~"only screen and (max-width: 1199px)";
@tablet:    ~"only screen and (max-width: 959px)";
@mobile:    ~"only screen and (max-width: 767px)";
@mobileMini:    ~"only screen and (max-width: 500px)";
@mobileMiniMini:    ~"only screen and (max-width: 400px)";

@mobileOrintation:    ~"only screen and (max-width: 740px) and (orientation:landscape)";



@principalcolor: #f5f5f5;
@textcolor: #333;
@titlefont: "Montserrat",sans-serif;
@textfont: "Open sans",sans-serif;


body {
    color: #333;
    font-family: "Open sans",Arial,sans-serif;
    font-size: 13px;
    line-height: 22px;
    background:@principalcolor;
}

.clear { clear:both; display:block; overflow:hidden; visibility:hidden; height:0px;}

img{max-width:100%;}

ol, ul {
    margin-bottom: 0px;
    margin-top: 0;
    padding:0;
}

h3{
    font-size:30px;
    font-family: @titlefont;
    font-weight: 600;
    color:#212121;
}

p{
    font-family: @textfont;
    line-height:22px;
    color:@textcolor;
}

.st0{fill:#ED1C24;}
.st1{fill:#FFFFFF;}


/****************************
    HEADER MENU
****************************/


.navbar-default {
    background-color: #212121;
    border-color: #fff;
    border:0px;
    color: #fff;
    padding:10px 0;
    border-radius:0;
    margin-bottom:0;

    .logo{
        width: 100px;
        margin-top: 15px;
    }

    .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: #fff;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-toggle:focus .icon-bar, .navbar-toggle:hover .icon-bar{
        background-color: #222;
    }
    .navbar-nav{
        padding-left:20px;

        li{
            a{
                color:#fff;
                text-transform: uppercase;
            }
            a:hover, a:focus{
                color:#db2020;
            }
        }
        
    }
}

@media @mobile{
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{margin-left:0; margin-right:0;}
}


/****************************
    HOME
****************************/

#homePage, #aboutPage{
    padding:80px 0;
}

.title-users{
    width:100%;
    float: left;
    text-align:center;
    padding:0px 0 60px 0;

    h3{
        text-transform: uppercase;
    }
}

.top-users{

    li{
        list-style-type: none;
        text-align: center;
        padding-bottom:30px;

        @media @tablet{
            width: 50%;
            float: left;
        }

        @media @mobile{
            padding: 7px;
        }

        @media @mobileMiniMini{
            width: 100%;
        }

        .user-box{
            background: #fff;
            box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            padding:40px 0;

            @media @mobile{
                    height: 250px;
            }

            .over-img{

                width:128px;
                height:128px;
                margin: 0 auto 30px auto;
                position: relative;

                img{
                    width:100%;
                }
            }

            .over-img:after, .over-img:before {
                position:absolute;
                opacity:0;
                transition: all 0.5s;
                -webkit-transition: all 0.5s;
            }

            .over-img:after {
                content:'\A';
                width:100%; height:100%;
                top:0; left:0;
                background:rgba(0,0,0,0.4);
            }

            .over-img:before {
                content: attr(data-content);
                width:100%;
                color:#fff;
                z-index:1;
                bottom:0;
                padding:4px 10px;
                text-align:center;
                font-size:11px;
                background:#000;
                box-sizing:border-box;
                -moz-box-sizing:border-box;
            }
            
            .over-img:hover{
                cursor: pointer;
            }

            .info-personal{
                font-weight: 700;
                text-transform: uppercase;
                font-size: 11px;

                @media @mobile{
                    font-size:11px;
                }
            }

            //Dialog box

            .modal-dialog{

                width: 450px;
                margin: 60px auto;

                 @media @mobileOrintation{
                            margin: 10px auto;
                        }

                @media @mobile{
                        width:100%;
                    }

                @media @mobileMiniMini{
                        margin: 30px auto;
                    }

                .modal-content{
                    border-radius:2px;

                    .modal-header{
                        padding: 25px 15px;

                        @media @mobileOrintation{
                            width:50%;
                            float:left;
                        }
                        }

                    .modal-body{

                        @media @mobileOrintation{
                            width:50%;
                            float:left;
                        }

                        .info-personal{
                            font-size:22px;
                        }

                        ul{
                            width: 240px;
                            margin: 20px auto 0 auto;

                            @media @tablet{
                                    height:120px;
                                }

                            @media @mobile{
                                height:160px;
                                width: 270px;
                                font-size:11px;
                            }

                            li{
                                padding-bottom:3px;
                                text-align: left;
                                width: 100%;

                                i{
                                    margin-right:10px;
                                    font-size:16px;
                                }

                                i.fa-phone{
                                    margin-right: 13px;
                                }
                            }

                            li.no-icon{
                                padding-left:30px;

                                @media @mobileOrintation{padding-left:35px;}

                                @media @mobile{padding-left:35px;}
                            }
                        }
                    }

                    .modal-footer{

                        .btn-default{
                            color: #fff;
                            background: #212121;
                            text-transform: uppercase;
                            font-size: 11px;
                            letter-spacing: 1px;
                            padding: 8px 20px;
                            border: 0;
                            border-radius: 1px;
                            font-weight: 400;
                            font-family: @titlefont;
                        }
                    }
            }
            }

        }
        .user-box:hover .over-img:after, .user-box:hover .over-img:before {
                opacity:1;
            }
    }

}


/****************************
    FOOTER
****************************/

.cover {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.98;
}

footer{
    background-image: url(../images/footer-bg-layer.png);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .client-box{
        padding:40px 0 50px 0;

        .col-md-3{

            @media @tablet{
                width:50%;
                float:left;
            }
        }
        
    }

    h2 {
        position: relative;
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 700;
    }

    .europe-gaming{
        padding-bottom:50px;
        color: #b3b3b3;
        font-size: 13px;
        font-weight: 400;
    }

    .pull-left {
        float: left!important;

        @media @mobileMini{
            float:none!important;
            text-align:center;
        }
    }

    .pull-right {
        float: right!important;

        @media @mobileMini{
            float:none!important;
            text-align:center;
        }
    }

    .footer-up{
        padding: 90px 0px 70px 0;
        float:left;

        .logo-footer{
            width: 550px;
            text-align: center;
            margin: 0 auto;

            @media @tablet{
                width: 400px;
            }

            @media @mobile{
                width: 280px;
            }
        }
      
    }

    .footer-copy {
        position: relative;
        background-color: #212121;
        padding: 15px 0px;
        
        .footer-bottom-nav li {
            position: relative;
            display: inline-block;
            margin-left: 20px;

            @media @mobile{
                margin-left: 5px;
            }
        }
        .footer-bottom-nav li a {
            position: relative;
            color: #616367;
            font-size: 13px;

            @media @mobile{
                font-size: 11px;
            }
        }
        .copyright {
            position: relative;
            color: #616367;
            font-size: 13px;

            @media @mobile{
                    font-size: 11px;
                }
        }
    }
}


/****************************
    PELOAD
****************************/

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  vertical-align:middle;
  top: 40%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */
.loading {
    opacity: 0;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 1;
    z-index: 9999;
}

