

<section id="aboutPage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-users"><h3>{{ title_page }}</h3></div>
            </div>
        </div>
    </div>
</section>