
<section class="menu-header" [ngClass]= "{'page-scroll-header': isScrolled}">


    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 546 92.3" style="enable-background:new 0 0 546 92.3;" xml:space="preserve">
                   
                    <g>
                        <g>
                            <path class="st0" d="M203.4,90.6v-89h28.6C258.5,1.5,277,19.8,277,46c0,17.7-8.9,33.1-23.2,40.3c-5.7,2.8-13.6,4.3-22.9,4.3
                                L203.4,90.6L203.4,90.6z M209.7,7.6V85H231c7.9,0,14.7-1.3,19.4-3.8c12.2-6.4,20-20.1,20-35.4c0-23-15.5-38.2-39.4-38.2L209.7,7.6
                                L209.7,7.6z"/>
                            <path class="st0" d="M231,91.5h-28.4V0.6h29.5c27,0,45.8,18.6,45.8,45.4c0,18-9.1,33.8-23.7,41.1C248.5,89.9,240.4,91.5,231,91.5z
                                M204.3,89.7H231c9.1,0,16.9-1.4,22.4-4.2c14-7,22.7-22.1,22.7-39.5c0-25.6-18.1-43.6-44.1-43.6h-27.8L204.3,89.7L204.3,89.7z
                                M231,85.9h-22.2V6.7h22.1c24.1,0,40.3,15.7,40.3,39.1c0,15.7-7.9,29.6-20.5,36.2C246,84.5,238.9,85.9,231,85.9z M210.6,84.1H231
                                c7.6,0,14.4-1.3,19-3.7c12-6.3,19.6-19.6,19.6-34.7c0-22.7-15.1-37.3-38.5-37.3h-20.4V84.1z"/>
                        </g>
                        <g>
                            <path class="st0" d="M296.1,90.6v-89h44.7v5.8h-38.5v35.3H340v5.7h-37.7v36.3h39.9v5.9L296.1,90.6L296.1,90.6z"/>
                            <path class="st0" d="M343.1,91.5h-47.9V0.6h46.5v7.6h-38.5v33.6h37.7v7.5h-37.7v34.5h39.9L343.1,91.5L343.1,91.5z M297,89.7h44.3
                                v-4.2h-39.9V47.4h37.7v-3.9h-37.7V6.4H340v-4H297V89.7z"/>
                        </g>
                        <g>
                            <path class="st0" d="M362.7,90.6v-89h6l30,38.5c0.9,1.1,1.2,2.4,1.2,3.7v0.4v-0.3c0-1.5,0.4-2.6,1.3-3.8l29.9-38.5h6.1v89.1h-6.2
                                V8.8c-0.3,1.7-0.6,3.3-1.2,4.1L400,51.2l-29.8-38.3c-0.5-0.7-1.1-2.4-1.2-4.1v81.8H362.7z"/>
                            <path class="st0" d="M438.3,91.5h-8.1V13.9L400,52.6l-30.1-38.7v77.6h-8.1V0.6h7.4l30.3,38.9c0.2,0.3,0.4,0.6,0.6,0.9
                                c0.2-0.3,0.4-0.6,0.6-0.9l30.1-38.9h7.5L438.3,91.5L438.3,91.5z M432,89.7h4.5V2.4h-4.8L402,40.6c-0.9,1.1-1.2,2-1.2,3.3v0.3h-1.8
                                v-0.4c0-1.2-0.3-2.2-1.1-3.2L368.3,2.4h-4.7v87.3h4.5V8.8l1.8-0.1c0.1,1.7,0.7,3.1,1.1,3.6l29,37.3l29.2-37.4
                                c0.3-0.4,0.7-1.3,1.1-3.6l1.8,0.1L432,89.7L432,89.7z"/>
                        </g>
                        <g>
                            <path class="st1" d="M175.5,8.2v7.5c-10.7-5.7-21.2-8.5-31.5-8.5c-11,0-20.1,3.7-27.5,11.2c-7.4,7.5-11.1,16.8-11.1,27.9
                                c0,11.3,3.7,20.6,11.1,27.8c7.4,7.3,16.9,11,28.4,11c9.6,0,20.1-3,31.4-9v7.1c-10.5,5.5-20.9,8.3-31.3,8.3
                                c-13.4,0-24.6-4.3-33.6-12.9c-8.9-8.6-13.4-19.3-13.4-32.2c0-12.9,4.6-23.7,13.7-32.4c9.1-8.7,20-13,32.6-13
                                C154.4,0.9,164.8,3.3,175.5,8.2z"/>
                            <path class="st1" d="M145.1,92.3c-13.6,0-25.1-4.4-34.2-13.1c-9.1-8.8-13.7-19.8-13.7-32.8c0-13.1,4.7-24.3,14-33.1
                                C120.5,4.4,131.7,0,144.5,0c10,0,20.6,2.5,31.4,7.5l0.5,0.2v9.5l-1.3-0.7c-10.5-5.6-20.9-8.4-31-8.4c-10.6,0-19.7,3.7-26.8,10.9
                                c-7.2,7.3-10.8,16.4-10.8,27.3c0,11,3.6,20.1,10.8,27.2c7.2,7.1,16.5,10.7,27.7,10.7c9.4,0,19.8-3,31-8.9l1.3-0.7v9.1l-0.5,0.3
                                C166.3,89.5,155.7,92.3,145.1,92.3z M144.5,1.8c-12.3,0-23.1,4.3-32.1,12.8C103.6,23,99,33.7,99,46.3c0,12.5,4.4,23.1,13.1,31.5
                                s19.8,12.7,33,12.7c10,0,20.3-2.7,30.4-7.9v-5.1c-10.9,5.6-21.2,8.4-30.5,8.4c-11.7,0-21.4-3.7-29-11.2
                                c-7.5-7.4-11.4-17-11.4-28.5c0-11.4,3.8-20.9,11.3-28.5c7.5-7.6,17-11.4,28.1-11.4c9.9,0,20.3,2.7,30.6,8V8.9
                                C164.3,4.1,154.1,1.8,144.5,1.8z"/>
                        </g>
                        <g>
                            <polygon class="st1" points="8.5,90.3 44,12.5 79.6,90.3 86.7,90.3 46,1.3 42.2,1.3 1.4,90.3 		"/>
                            <path class="st1" d="M88.1,91.2H79L44,14.6L9.1,91.2H0L41.6,0.5h4.9L88.1,91.2z M80.2,89.3h5.2l-40-87.1h-2.6l-40,87.1H8l36-79
                                L80.2,89.3z"/>
                        </g>
                        <path class="st0" d="M500.4,0.9c-0.2,0-0.4,0.1-0.6,0.1V45L476.2,7.9c-12.8,8.1-21.3,22.3-21.3,38.5c0,25.2,20.4,45.6,45.6,45.6
                            c25.2,0,45.6-20.4,45.6-45.6S525.6,0.9,500.4,0.9z"/>
                    </g>
                    </svg>

                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" routerLinkActive="active">
                    <li class='nav-item'><a [routerLink]="['home']">Home</a></li>
                    <li class='nav-item'><a [routerLink]="['about']">About</a></li>
                    <li class='nav-item'><a [routerLink]="['contact']">Contact us</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>
