

<section id="homePage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-users"><h3>{{ title_page }}</h3></div>
              
                <div>
                    <ul class="top-users">
                        <li class="col-md-3" *ngFor="let user of users; let i = index">
                            <div class="user-box">
                               
                                <div data-content="Click to details!" (click)="modal1.show()" class="over-img">
                                    <img src="{{user.picture.large}}" alt=""/>
                                </div>

                                <p class="info-personal">{{user.name.title}}. {{user.name.first}} {{user.name.last}}</p>

                                <app-modal #modal1>
                                    <div class="app-modal-header">
                                        <img src="{{user.picture.large}}" alt=""/>
                                    </div>
                                    <div class="app-modal-body">
                                        <p class="info-personal">{{user.name.title}}. {{user.name.first}} {{user.name.last}}</p>
                                        <ul>
                                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> {{user.email}}</li>
                                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{user.phone}}</li>
                                            <li><i class="fa fa-coffee" aria-hidden="true"></i> {{user.location.street}}</li>
                                            <li class="no-icon">{{user.location.postcode}}  {{user.location.city}}</li>
                                            <li class="no-icon">{{user.location.state}}</li>
                                        </ul>
                                    </div>
                                    <div class="app-modal-footer">
                                    <button type="button" class="btn btn-default" (click)="modal1.hide()">Close</button>
                                    </div>
                                </app-modal>


                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="loading" [style.display]="preLoading">
        <div class="spinner"></div>
    </div>
    
</section>

